/*
Name : dashboard
Date : 2021.06.30
*/

/* <!-- 상단 1열 --> */
.dashboard-row-1 {
  /* border: 1px solid red; */
  position: absolute;
  top: 20px;
  left: 30px;
  width: 1700px;
  height: 395px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 158px;
  grid-template-rows: 20px 1fr 1fr 1fr 1fr;

}

.dashboard-article{
  /* border: 1px solid blue; */
  margin-right: 10px;
}

.dashboard-article-header {
  width: 100%;
  height: 100px;
}
.dashboard-article-body {
  width: 100%;
  height: 275px;
  margin-top: 10px;
}

.dashboard-article-header-item{
  /* border: 1px solid green; */
}

.dashboard-article-header-item img{
  /* border: 1px solid red; */
  margin: 27px 0 0 20px;

}

span.dashboard-article-header-item-title {
  display: block;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 700;
}

span.dashboard-article-header-item-sub-title {
  display: block;
  /* border: 1px solid red; */
  margin: 27px 0 0 20px;
  font-size: 16px;
  font-weight: 500;
}

div.dashboard-article-header-item-sub-box {
  /* border: 1px solid red; */
  width: 85px;
  height: 30px;
  margin-left: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #34393B;
  display: grid;
  grid-template-columns: 1fr 30px;
}

div.dashboard-article-header-item-sub-box-2 {
  /* border: 1px solid red; */
  width: 60px;
  height: 30px;
  margin-left: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #34393B;
  display: grid;
  grid-template-columns: 1fr 30px;
}

span.dashboard-article-header-item-sub-box-num {
  display: block;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 700;
}

span.dashboard-article-header-item-sub-box-unit {
  /* border: 1px solid red; */
  display: block;
  margin-top: 11px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

article.dashboard-article-fire-box {
  height: 390px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
}

div.dashboard-article-fire {

}

img.dashboard-article-fire-img {
  margin: 35px 0 0 65px;
}

.dashboard-article-fire-title {
  margin-top:10px;
  text-align: center;
}

.dashboard-article-fire-status-good {
  /* border: 1px solid red; */
  border-radius: 6px;
  margin: auto;
  margin-top: 10px;
  padding: 5px 20px 0 20px;
  width: 60px;
  height: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #0ACF7C;
  font-weight: 700;
  color: black;
}

.dashboard-article-fire-status-bad {
  /* border: 1px solid red; */
  border-radius: 6px;
  margin: auto;
  margin-top: 10px;
  padding: 5px 20px 0 20px;
  width: 60px;
  height: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #FDCA57;
  font-weight: 700;
  color: black;
}


/* <!-- 상단 2열 --> */

.dashboard-row-2 {
  position: absolute;
  top: 425px;
  left: 30px;
  width: 1700px;
  height: 570px;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 430px;
  grid-gap: 10px;
  grid-auto-rows: 0.5fr 5fr 0.5fr 2fr 2fr;
}

.dashboard-row-2-item {
  background-color: #1D2226;
  border-radius: 6px;
  border: 1px solid #414446;
}

.dashboard-row-2-item:first-child {
  background-color: #000000;
  border-radius: 6px;
  border: 1px solid #000000;
  grid-column: 1/4;
}

.dashboard-row-2-item:nth-child(2) {
  background-color: #000000;
  border-radius: 6px;
  border: 1px solid #000000;
  grid-column: 4/6;
}
.dashboard-row-2-item:nth-child(3) {
  background-color: #000000;
  border-radius: 6px;
  border: 1px solid #000000;
  grid-column: 6/7;
}
.dashboard-row-2-item:nth-child(7) {
  grid-column: 4/6;
}
.dashboard-row-2-item:nth-child(9) {
  background-color: #000000;
  border-radius: 6px;
  border: 1px solid #000000;
  grid-column: 1/5;
}

.dashboard-row-2-item:nth-child(10) {
  background-color: #000000;
  border-radius: 6px;
  border: 1px solid #000000;
  grid-column: 5/6;
}
.dashboard-row-2-item:nth-child(11) {
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 6px;
  grid-column: 6/7;
}
.dashboard-row-2-item:nth-child(16) {
  /* border: 1px solid #000000; */
  grid-column: 5;
  grid-row:4/6;
}
.dashboard-row-2-item:nth-child(21) {
  border: 1px solid #000000;
  background-color: #000000;
}

/* weather-station */

.weather-station-info-box {
  /* border: 1px solid blue; */
  border-bottom: 1px solid #34393B;
  padding: 15px;
}

.weather-station-info-box:last-child{
  border-bottom: none;
}

.weather-station-info {
  /* border: 1px solid blue; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* weather-station-info-title */
.weather-station-info-title{

}

.weather-station-info-title-kor{

}

.weather-station-info-title-eng{

}

/* weather-station-info-data */
.weather-station-info-data{
  /* border: 1px solid blue; */
  text-align: right;
  padding: 7px 5px 0 0;
}

.weather-station-info-data-num{

}

.weather-station-info-data-unit{

}

/* sand-sinking-tank- */

.dashboard-row-2-item:nth-child(7){
  display: grid;
  grid-template-columns: 150px 1fr;
  /* border: 1px solid red; */
}

.sand-sinking-tank-data{
  /* border: 1px solid red; */
  padding: 70px 0 0 30px;

}

.sand-sinking-tank-data-title{
  padding-top: 5px;
}

.sand-sinking-tank-data-box {
  /* border: 1px solid pink; */
  width: 130px;
  border-bottom: 1px solid #34393B;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 5px;

}

.sand-sinking-tank-data-num {
  /* border: 1px solid pink; */
  font-size: 30px;
  font-weight: 400;
  color: #6DD230;
}

.sand-sinking-tank-data-unit {
  /* border: 1px solid pink; */
  font-size: 21px;
  font-weight: 400;
  color: #797979;
  padding: 7px 0 0 20px;
 }

 .sand-sinking-tank-grf {

 }

 .feild-map {
   width: 430px;
 }

 /* sprinkler */

 .sprinkler-box {
   /* border: 1px solid pink; */
   display: grid;
   grid-template-columns: 2fr 1fr;
   padding: 10px 25px 10px 25px ;
 }

 .sprinkler-title {
   /* border: 1px solid pink; */
 }

 .sprinkler-status-off {
   /* border: 1px solid pink; */
   font-size:14px;
   font-weight: 700;
   color: #797979;
   text-align: right;
 }

 .sprinkler-btns {
   padding-top: 10px;
 }

  /* big sprinkler */
  .big-sprinkler{
    /* border: 1px solid pink; */
    display: grid;
    grid-auto-rows: 1fr 4fr;
    padding: 15px 0 0 10px;
  }
  .big-sprinkler-box {
    display: grid;
    grid-template-columns: 50px 1fr;
  }
  .big-sprinkler-title-box{
    /* border: 1px solid pink; */
  }

  .big-sprinkler-title{
    /* border: 1px solid pink; */
  }

  .big-sprinkler-status {
      /* border: 1px solid pink; */
      font-size:14px;
      font-weight: 700;
      color: #797979;
      text-align: left;
  }

  /* 게이트 살수 */
  .dashboard-row-2-item:nth-child(17) {
    display: grid;
    grid-template-columns: 150px 1fr;
    padding:30px;
  }

  .dashboard-row-2-item:nth-child(22) {
    display: grid;
    grid-template-columns: 150px 1fr;
    padding:30px;
  }

  .gate-box{
    /* border: 1px solid pink; */

  }

  .gate-title{
    /* border: 1px solid pink; */
  }

  .gate-status{
    /* border: 1px solid pink; */
    font-size:14px;
    font-weight: 700;
    color: #797979;
    text-align: left;
  }

  .gate-btn{
    /* border: 1px solid pink; */
  }
