// colors
// Default color
$ske-red: #ff3847 !global;

// background
$bg-lv-00: #000000 !global;
$bg-lv-01: #1d2226 !global;

// text
$text-place-holder: #797979 !global;
$text-lv-00: #ffffff !global;
$text-lv-01: #bebebe !global;

.graph-modal-container-on {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  section {
    width: 80%;
    height: 85%;
    margin-top: 5%;
    margin-left: 10%;
    background-color: $bg-lv-01;
    border-radius: 12px;
    border: 1px solid $text-place-holder;
    header {
      display: grid;
      grid-template-columns: 1fr 120px;
      padding: 10px;
      h3 {
        margin: 10px;
      }
      button {
        background-color: $bg-lv-01;
        color: $text-lv-01;
      }
    }
    article {
      display: grid;
      grid-template-columns: 420px 1fr;
      padding: 10px;
      height: 85%;
      div.table-haeder {
        // border: 1px solid red;
        margin: 10px;
        width: 96%;
        height: 96%;
        div.table-header-box {
          // border: 1px solid red;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          border-bottom: 1px solid gray;
          color: gray;

          div {
            padding: 5px;
          }
        }
        div.table-item-box {
          // border: 1px solid red;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          border-bottom: 1px solid gray;
          color: rgb(221, 221, 221);
          div {
            padding: 5px;
          }
        }
        div#excel-download-btn-box {
          // border: 1px solid red;
          button {
            margin-top: 10px;
            margin-left: -12px;
            background-color: $bg-lv-01;
            color: $text-lv-01;
          }
        }
      }
      div.chart-area {
        margin: 10px;
        margin-left: 30px;
        width: 93%;
        height: 96%;
      }
    }
    footer {
      // border: 1px solid red;
      margin: 10px 10px 10px 20px;
      color: $text-place-holder;
    }
  }
}

.graph-expend-btn {
  background-color: $bg-lv-01;
  height: 20px;
  margin-top: -3px;
}

.graph-modal-container-off {
  display: none;
}
